fastapi
#for pandatic
pydantic[email]
uvicorn[standing]
#fo authentication
python-multipart
python-jose[cryptography]
passlib[bcrypt]
#for HTTP requests
httpx
aiohttp  # For async AI question generation service
#end or auth
#for db
sqlalchemy
psycopg2-binary
#end db
#env file
python-dotenv
requests
pycryptodome
google-auth
python-dotenv 
psycopg2
dotenv